:root {
  --primary-color: #A12B52;
  --secondary-color: #832343;
  --black: #000;
  --white: #fff;
  --lightgray: #d3d3d3;
}

body {
   background-color: var(--white);
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.6;
   padding: 10px;
   }
   
   .about {
    max-width: auto;
    margin: auto;
    text-align: center;
  }

  .table {
    max-width: auto;
    margin: auto;
    text-align: center;
  }

td, th {
  border: 1px solid var(--black);
  padding: 0.5rem;
  text-align: center;
    }

th {
  background-color: var(--primary-color);
  font-size: 18px;
  color: var(--white);
    }

  .contact {
    max-width: auto;
    margin: auto;
    text-align: center;
  }

  .purple-background {
    background-color: var(--primary-color);
  }

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
    }

h2 {
  font-size: 24px;
  font-weight: 700;
    }

h3 {
  font-size: 18px;
  font-weight: 700;
    }

a {
    color: var(--primary-color);
  }

a:visited {
    color: var(--secondary-color);
  }

a:hover, a:focus {
    text-decoration: none;
    color: var(--black);
    transition: 0.5s opacity;
  }
  
a:active {
    color: var(--primary-color);
  }

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    display:inline-block;
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-color);
    color: var(--white) !important;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.302);
    transition: 0.9s opacity;
  }

button:hover, 
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer; 
    background-color: var(--black);
    border-bottom: 2px solid var(--primary-color);
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  .navigation-list__item--active {
    text-decoration: none;
  }

  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profile__portrait {
    float: left;
    width: 50%;
    height: auto;
    max-width: 400px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .profile {
    max-width: 700px;
    margin: 0 auto;
  }

  * {
    box-sizing: border-box;
  }

  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--lightgray);
  }

  /* adds base width to navigation */
  .page-header__item {
    flex: 0 1 200px;
    width: 30%;
    height: fit-content;
  }

  @media only screen and (max-width: 750px) {
    .page-header__item {
      flex: 0 1 200px;
      width: 30%;
      height: fit-content;
    }
  }

  /* navigation is right alligned */
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }

  /* erases the dots in the menu list */
  .navigation-list {
    list-style-type: none;
  }

  /* alignes menu items in a row */
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

  .grid {
    display: grid;
  }

  .grid__item {
    background-color: var(--lightgray);
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  @keyframes color-change {
    0% {
      fill: #030200;
    }
    50% {
      fill: #000000;
    }
    100% {
      fill: #A12B52;
    }
  }
  
  .color_change_cloud {
    animation: 2s color-change infinite alternate linear;
  }
  
  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
  
  .cloud {
    animation: 10s cloud-move infinite alternate linear;
  }
